<?php
/**
 * Copyright © 2019 Zeo BV. All rights reserved.
 * @Author Gydo Broos
 * This module was developed by Zeo BV. on behalf of Shopping Minds Nederland B.V. all files in this module are subject to the MIT license.
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 **/

# Used to render the entity export buttons in the Shopping Minds configuration pages
?>
<div id="export-orders-form">
    <button id="export_products_button" data-action="<?php echo $block->getEndpointUrl() ?>" title="<?php echo $block->getButtonTitle() ?>" type="button" class="action-default scalable" data-ui-id="widget-button-2">
        <span><?php echo $block->getButtonTitle() ?></span>
    </button>
</div>

<script type="text/javascript">
    require(['jquery'],function($){
        $(function() {
            $('#export_products_button').click(function () {
                window.location = $(this).data('action')

            });
        });
    });
</script>
